* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and global styles */
body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
}

header nav ul li a:hover {
  background-color: #6d4c41;
  -webkit-box-shadow: 0px 0px 10px #6d4c41;
  -moz-box-shadow: 0px 0px 10px #6d4c41;
  box-shadow: 0px 0px 10px #6d4c41;
}

/* Section styles */
section {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

/* About Me section styles */
section#about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about-me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

section#about-me div {
  text-align: left;
}

section#about-me h1 {
  margin-bottom: 10px;
  text-align: center;
}
/* Experience, Education and Skills section styles */
section#experience, section#education, section#skills {
  margin-bottom: 20px;
  text-align: left;
}

section#experience h2, section#education h2 {
  margin-bottom: 5px;
  text-align: center;
}

/* Portfolio section styles */
section#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#portfolio img {
  width: 300px;
  height: 200px;
  margin: 20px;
}

section#portfolio a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* Contact Me section styles */
section#contact-me {
  text-align: left;
}

section#contact-me form label {
  display: block;
  margin-bottom: 10px;
}

section#contact-me form input[type="text"],
section#contact-me form input[type="email"],
section#contact-me form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  background-color: #444;
  color: #fff;
  font-size: 1rem;
}

section#contact-me form input[type="submit"] {
  background-color: #6d4c41;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}
section#contact-me form input[type="submit"]:hover {
  background-color: #fff;
  color: #6d4c41;
  -webkit-box-shadow: 0px 0px 10
  px #6d4c41;
  -moz-box-shadow: 0px 0px 10px #6d4c41;
  box-shadow: 0px 0px 10px #6d4c41;
}

/* Footer styles */
footer {
  background-color: #222;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
